.THIS.div1{
    background-color: orange;
    text-align: center;
    border: 1px solid black;
    margin-left: auto;
  	margin-right: auto;
    width: 600px;
}

.THIS.div2
{
    border: 1px solid #ddd;
    margin-left: auto;
  	margin-right: auto;
    width: 600px;
}

.THIS.div3
{
    min-height: 100px;
    height: auto;
    margin-left: auto;
  	margin-right: auto;
    padding: 8px;
    width: 75%;
}
.THIS.div4
{
    margin-left: auto;
  	margin-right: auto;
    padding: 8px;
    width: 75%;
}