.THIS.formSize{
    width:5000px
        
}

.THIS.slds-modal__container{ 
    height :auto;
    width: 80%; 
    max-width: 70vh; 
} 

.THIS .slds-modal__widthcontainer{
    max-width: 70rem !important;
    width:80% !important;
}

.THIS .slds-modal__heightcontainer{
    max-height: 90%;
    height:80% ;
}

.THIS .slds-modal__icon{
    padding-left:0%; padding-right:0%; padding-top:5%; padding-bottom:0%
        
}

.THIS .myCheckbox{
  display: inline-block;
  float: left;
}

.THIS .campaignTable {
    z-index:1;
    display:block;
    position:fixed;
    right:5%;
    top:55%;
    table-layout: automatic;
    font-size:11px;
    color:#333333;
    border-width: 2px;
    border-color: #666666;
    border-collapse: collapse;
    width:30%;
    height:10%;
    overflow: initial;
}

.THIS .campaignTableForNewCampaign {
    z-index:1;
    display:block;
    position:fixed;
    right:4%;
    top:50%;
    table-layout: automatic;
    font-size:11px;
    color:#333333;
    border-width: 2px;
    border-color: #666666;
    border-collapse: collapse;
    width:35%;
    height:40%;
    overflow: initial;
}

.THIS .campaignTableAdd {
    z-index:1;
    display:block;
    position:fixed;
    right:5%;
    top:44%;
    table-layout: automatic;
    font-size:11px;
    color:#333333;
    border-width: 2px;
    border-color: #666666;
    border-collapse: collapse;
    width:30%;
    height:10%;
    overflow: initial;
}

.THIS .campaignTableExclude {
    z-index:1;
    display:block;
    position:fixed;
    right:5%;
    top:67%;
    table-layout: automatic;
    font-size:11px;
    color:#333333;
    border-width: 2px;
    border-color: #666666;
    border-collapse: collapse;
    width:30%;
    height:10%;
    overflow: initial;
}


.THIS .closeIcon {
    top: 20%;
    right: 0.5rem;
    border-color: rgb(230, 7, 48);
    border-radius: 1.5rem;
    border-width: medium;
    background-color: rgb(244, 246, 249);
}